samples/device-samples/src/main/resources/flow-to-induce-problem.txt
[{"id":"5d2cf406.46faec","type":"ibmiot out","z":"86a7c7ab.c89c68","authentication":"apiKey","apiKey":"8a0b0419.71f708","outputType":"cmd","deviceId":"Arduino01","deviceType":"iotsample-deviceType","eventCommandType":"blink","format":"json","data":"{\"hi\":\"hello\"}","qos":"0","name":"Send Commands","service":"registered","x":459,"y":55,"wires":[]},{"id":"35508fb9.3ee0c","type":"debug","z":"86a7c7ab.c89c68","name":"","active":true,"console":"false","complete":"false","x":449,"y":127,"wires":[]},{"id":"2681ec40.3e0bb4","type":"inject","z":"86a7c7ab.c89c68","name":"Induce problem - don't send events","topic":"","payload":"{\"BUZZ\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":181,"y":55,"wires":[["5d2cf406.46faec","35508fb9.3ee0c"]]},{"id":"8a0b0419.71f708","type":"ibmiot","z":"86a7c7ab.c89c68","name":"ofz8jz","keepalive":"60","cleansession":true}]
